<!DOCTYPE html>
<html>
<head>
    <title>Prøveeksamen 3</title>
    <script src="index.js" defer></script>
</head>
<body>
<ul>
    {{#each kunder}}
        <li>
            <p>{{this.navn}}</p>
        </li>
    {{/each}}
</ul>
<div id="adresse"> </div>
</body>
</html>
